body{
	background: #444;
}

html
{
height: 100%;
margin-bottom: 0.1em;
}

#wrap {
	min-width: 600px;
	max-width: 960px;
	margin: 0 auto;
}

#projectsTable {
	border-color: white;
}

#projectsTable td{
	width: 200px;
	font-size: 0.75em;
}